.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Tangerine', serif;
}

.App-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  height: calc(100vh - 48px);
  overflow-y: auto;
  background-color: #f8f8f8;
  border-right: 1px solid #e0e0e0;
}

.App-content {
  flex: 1;
  overflow-y: auto;
  background-color: #f0f4f7;
  padding: 20px;
}